.main_container {
  width: 100%;
  display: grid;
  grid-template-rows: 65% 20% 15%;
  place-items: center;
  height: 20rem;
  background-color: #eaeaea;
  border-radius: 5px;
  cursor: pointer;
}

.image_container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.image_container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "times new roman";
}

.title_container > h3 {
  font-size: 2rem;
  margin: 0.25rem;
}

.tags_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  position: relative;
  margin-left: 0.5rem;
}

.tags_container > p {
  font-size: 1rem;
}

.tag {
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin: 0;
  margin-left: 0.5rem;
}

.date {
  margin: 0;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
