.form_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.form_container > textarea {
  flex-grow: 1;
  resize: none;
  padding: 0.5rem;
  font-family: "Roboto";
  border: none;
  background-color: #d9d9d9;
  border-radius: 5px;
  outline: none;
}

.form_container > button {
  border-radius: 5px;
  background-color: #d9d9d9;
  border: none;
  color: black;
  cursor: pointer;
  padding: 1rem;
}
