.footer {
  width: 100%;
  height: 50vh;
  background-color: #ff8e7e;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
  text-align: center;
  font-size: 1rem;
  grid-template-rows: 85% 15%;
}

.navigators,
.blogs {
  margin-top: 2rem;
  cursor: pointer;
}

.try {
  align-self: center;
}

.copyrights {
  grid-column: 1/4;
}

.navigators > p:hover,
.blogs > p:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 100%;
    grid-template-rows: 30% 30% 30% 10%;
    height: 100vh;
  }

  .navigators,
  .blogs,
  .try {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navigators > p,
  .blogs > p,
  .try > p {
    margin: 0.5rem;
  }

  .navigators > h2,
  .blogs > h2,
  .try > h2 {
  }

  .copyrights {
    grid-column: 1/2;
  }
}
