.blog_container {
  width: 100%;
  min-height: calc(100vh - 5rem);
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.content_container > p {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content_container > p > img {
  width: 100% !important;
  height: 30vh !important;
  object-fit: contain !important;
}

.content_container > h1 {
  font-size: 2.5rem !important;
}

.inner_blog_container {
  width: 90%;
  margin: 2rem;
  background-color: white;
  padding: 1rem;
}

.inner_blog_container h1 {
  font-size: 3rem;
  margin-top: 0;
}

.inner_blog_container p {
  font-size: 1.5rem;
  text-align: justify;
}

.tags_container {
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: #eaeaea;
  border-radius: 5px;
}

.tags_container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-row: 2/3;
  margin: 0 1rem;
}

.tags_container > div > p {
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.tags_container span {
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 5px;
}

.more_container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin: 1rem 0 0 0;
}

.video_container {
  width: 100%;
  height: 60vh;
}

.video_container > iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .content_container > p {
    font-size: 1.25rem !important;
  }
  .more_container {
    grid-template-columns: 100%;
  }
}
