.home_container {
  width: 100%;
  min-height: 1000vh;
}

.first_page {
  width: 100%;
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  position: fixed;
}

.image_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 50%;
}

.main_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
  font-size: 2rem;
}

.main_title > h1 {
  position: relative;
}

.main_title > h1::before {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  content: "";
  position: absolute;
  animation-name: typing;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  border-left: 2px solid black;
}

@keyframes typing {
  0% {
    transform: translateX(0);
    border-left: 2px solid black;
  }
  10% {
    border-left: 2px solid white;
  }
  20% {
    border-left: 2px solid black;
  }
  30% {
    border-left: 2px solid white;
  }
  40% {
    border-left: 2px solid black;
  }
  50% {
    border-left: 2px solid white;
  }
  60% {
    border-left: 2px solid black;
  }
  70% {
    transform: translateX(100%);
    border-left: 2px solid white;
  }
  80% {
    transform: translateX(100%);
    border-left: 2px solid black;
  }
  90% {
    transform: translateX(100%);
    border-left: 2px solid white;
  }
  95% {
    transform: translateX(100%);
    border-left: 2px solid black;
  }
  100% {
    transform: translateX(100%);
    border-left: 2px solid white;
  }
}

.methods_container {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.right {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.methods {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman";
  font-size: 4rem;
  font-weight: 1000;
}

/* steps styling go here */

.steps_container {
  position: fixed;
  top: 6rem;
  width: 100%;
}

.step {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  display: none;
}

.steps_text {
  width: 80%;
}

.steps_text > h1 {
  font-size: 3.5rem;
}

.steps_text > p {
  font-size: 2rem;
}
