.home_container {
  width: 100%;
  min-height: 120vh;
}

.video_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 7rem);
  flex-direction: column;
  text-transform: uppercase;
  background-color: rgb(215, 255, 189);
  margin-top: 7rem;
}

.video_container > iframe {
  width: 80%;
  height: 500px;
}

.video_container > p {
  width: 80%;
}

.join_program {
  padding: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem;
  background-color: white;
  border: 2px solid black;
  transition: all 0.2s ease;
  cursor: pointer;
}

.join_program:hover {
  background-color: #36ff36;
}

.believe_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.you_container,
.help_container {
  width: 45%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #8bf1ff;
  margin: 1rem;
  padding: 0 1rem;
}

.believe_heading {
  text-transform: uppercase;
}

.believe_text {
  font-size: 1.25rem;
}

.help_btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: aliceblue;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.help_btn:hover {
  background-color: #36ff36;
}
