.home_container {
  width: 100%;
  min-height: 1000vh;
  position: relative;
  overflow-x: hidden;
}

.first_page {
  width: 100%;
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  position: fixed;
  display: grid;
  grid-template-rows: 80% 20%;
  place-items: center;
}

.image_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.main_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
  font-size: 2rem;
}

.main_title > h1 {
  position: relative;
}

.main_title > h1::before {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  content: "";
  position: absolute;
  animation-name: typing;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  border-left: 2px solid black;
}

@keyframes typing {
  0% {
    transform: translateX(0);
    border-left: 2px solid black;
  }
  10% {
    border-left: 2px solid white;
  }
  20% {
    border-left: 2px solid black;
  }
  30% {
    border-left: 2px solid white;
  }
  40% {
    border-left: 2px solid black;
  }
  50% {
    border-left: 2px solid white;
  }
  60% {
    border-left: 2px solid black;
  }
  70% {
    transform: translateX(100%);
    border-left: 2px solid white;
  }
  80% {
    transform: translateX(100%);
    border-left: 2px solid black;
  }
  90% {
    transform: translateX(100%);
    border-left: 2px solid white;
  }
  95% {
    transform: translateX(100%);
    border-left: 2px solid black;
  }
  100% {
    transform: translateX(100%);
    border-left: 2px solid white;
  }
}

.methods_container {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.right {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.methods {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman";
  font-size: 4rem;
  font-weight: 1000;
}

/* steps styling go here */

.steps_container {
  position: fixed;
  top: 6rem;
  width: 100%;
  height: calc(100vh - 6rem);
}

.step {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  place-items: center;
}

.steps_text {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.steps_text > h1 {
  font-size: 3.5rem;
  margin: 0;
}

.steps_text > p {
  font-size: 2rem;
}

.steps_vector {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step_images {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

/* socials styling */

.socials_container {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 5;
  gap: 1rem;
}

.socials_container > a {
  border-radius: 10rem;
  cursor: pointer;
  background-color: #ff8e7e;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #ffe87e;
}

.socials_container > a > svg {
  font-size: 2.5rem;
  pointer-events: none;
}

.socials_container > a:hover {
  color: black;
  background-color: #ffe87e;
}

.footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.swipe_container {
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 6rem;
  text-align: center;
}

.swipe_container > svg {
  animation-name: up-and-down;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes up-and-down {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* sign up settings */

.sign_up_container {
  position: absolute;
  bottom: 90vh;
  height: 100vh;
  width: 100%;
}

.sign_up_container > div {
  width: 100%;
}

.sign_up_container > div > h1 {
  font-family: "Times New Roman";
  font-size: 4rem;
  font-weight: 1000;
}

.sign_up_container > div > p {
  font-size: 2rem;
  width: 50%;
  text-align: center;
}

.message_container {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  border: none;
}

.message_container::before {
  content: "Chat with us";
  background-color: #eaeaea;
  padding: 0.5rem;
  display: block;
  border-radius: 5px;
  white-space: nowrap;
  position: absolute;
  right: 100%;
  transform: scaleY(0);
  transition: all 0.2s ease;
}

.message_container:hover::before {
  transform: scaleY(1);
}

.message_container > svg {
  pointer-events: none;
  color: white;
  background-color: #ff8e7e;
  padding: 0.5rem;
  border-radius: 5rem;
  box-sizing: content-box;
  border: 1px solid #ffe87e;
}

/* responsive design */

@media (max-width: 600px) {
  .step {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .steps_vector {
    height: 100%;
  }
  .steps_text > p {
    font-size: 1.5rem;
    margin: 0;
  }
  .steps_text > h1 {
    margin-bottom: 0.5rem;
  }
  .main_title > h1 {
    font-size: 2rem;
  }
  .socials_container > a > svg {
    font-size: 1.25rem;
  }
}
